footer.footer
    .footer__logo
        img(src='/img/logo-green.png' alt='Natours logo')
    ul.footer__nav
        li: a.footer__link(href='#') About us
        li: a.footer__link(href='#') Download apps
        li: a.footer__link(href='#') Become a guide
        li: a.footer__link(href='#') Careers
        li: a.footer__link(href='#') Contact
    p.footer__copyright &copy; by Jonas Schmedtmann. All rights reserved.